{% extends "covidlayout.html" %}
{% block body %}
<div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h2 mb-0 text-gray-800">Frequently Asked Questions</h2>
              <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
          </div>

          <!-- questions start -->


          <!-- queIndivStart -->
          <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#quepanel1" class="d-block card-header py-3" data-toggle="collapse" role="button"
              aria-expanded="true" aria-controls="quepanel1">
              <h5 class="m-0 font-weight-bold text-gray-700">What is Coronoa Virus and COVID19?</h5>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="quepanel1">
              <div class="card-body">
                Coronaviruses are a large family of viruses which may cause illness in animals or humans. In humans,
                several coronaviruses are known to cause respiratory infections ranging from the common cold to more
                severe diseases such as Middle East Respiratory Syndrome (MERS) and Severe Acute Respiratory Syndrome
                (SARS). The most recently discovered coronavirus causes coronavirus disease COVID-19.<br>
                COVID-19 is the infectious disease caused by the most recently discovered coronavirus. This new virus
                and disease were unknown before the outbreak began in Wuhan, China, in December 2019.
              </div>
            </div>
          </div>
          <!-- queIndivEnd -->

          <!-- queIndivStart -->
          <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#quepanel2" class="d-block card-header py-3" data-toggle="collapse" role="button"
              aria-expanded="true" aria-controls="quepane2">
              <h5 class="m-0 font-weight-bold text-gray-700">What are the symptoms of COVID19?</h5>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="quepanel2">
              <div class="card-body">
                The most common symptoms of COVID-19 are fever, tiredness, and dry cough. Some patients may have aches
                and pains, nasal congestion, runny nose, sore throat or diarrhea.
              </div>
            </div>
          </div>
          <!-- queIndivEnd -->

          <!-- queIndivStart -->
          <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#quepanel3" class="d-block card-header py-3" data-toggle="collapse" role="button"
              aria-expanded="true" aria-controls="quepanel3">
              <h5 class="m-0 font-weight-bold text-gray-700">How does COVID19 spread?</h5>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="quepanel3">
              <div class="card-body">
                People can catch COVID-19 from others who have the virus. The disease can spread from person to person
                through small droplets from the nose or mouth which are spread when a person with COVID-19 coughs or
                exhales. These droplets land on objects and surfaces around the person. Other people then catch COVID-19
                by touching these objects or surfaces, then touching their eyes, nose or mouth.
              </div>
            </div>
          </div>
          <!-- queIndivEnd -->

          <!-- queIndivStart -->
          <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#quepanel4" class="d-block card-header py-3" data-toggle="collapse" role="button"
              aria-expanded="true" aria-controls="quepanel4">
              <h5 class="m-0 font-weight-bold text-gray-700">Who is at risk of developing severe illness?</h5>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="quepanel4">
              <div class="card-body">
                While we are still learning about how COVID-2019 affects people, older persons and persons with
                pre-existing medical conditions (such as high blood pressure, heart disease, lung disease, cancer or
                diabetes) appear to develop serious illness more often than others.
              </div>
            </div>
          </div>
          <!-- queIndivEnd -->

          <!-- queIndivStart -->
          <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#quepanel5" class="d-block card-header py-3" data-toggle="collapse" role="button"
              aria-expanded="true" aria-controls="quepanel5">
              <h5 class="m-0 font-weight-bold text-gray-700">Is their a drug, vaccine or treatment for COVID19?</h5>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="quepanel5">
              <div class="card-body">
                Not yet. To date, there is no vaccine and no specific antiviral medicine to prevent or treat COVID-2019.
                However, those affected should receive care to relieve symptoms.
              </div>
            </div>
          </div>
          <!-- queIndivEnd -->

          <!-- queIndivStart -->
          <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#quepanel7" class="d-block card-header py-3" data-toggle="collapse" role="button"
              aria-expanded="true" aria-controls="quepanel7">
              <h5 class="m-0 font-weight-bold text-gray-700">How long does the virus survive on surfaces?</h5>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="quepanel7">
              <div class="card-body">
                It is not certain how long the virus that causes COVID-19 survives on surfaces, but it seems to behave
                like other coronaviruses. Studies suggest that coronaviruses (including preliminary information on the
                COVID-19 virus) may persist on surfaces for a few hours or up to several days. This may vary under
                different conditions (e.g. type of surface, temperature or humidity of the environment).
              </div>
            </div>
          </div>
          <!-- queIndivEnd -->

          <!-- Card Header - Accordion -->
          <div class="card shadow mb-4">

            <a href="#quepanel8" class="d-block card-header py-3" data-toggle="collapse" role="button"
              aria-expanded="true" aria-controls="quepanel8">
              <h5 class="m-0 font-weight-bold text-gray-700">Is COVID19 the same as SARS?</h5>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="quepanel8">
              <div class="card-body">
                No. The virus that causes COVID-19 and the one that caused the outbreak of Severe Acute Respiratory
                Syndrome (SARS) in 2003 are related to each other genetically, but the diseases they cause are quite
                different.
              </div>
            </div>
          </div>
          <!-- queIndivEnd -->

          <!-- Card Header - Accordion -->
          <div class="card shadow mb-4">

            <a href="#quepanel6" class="d-block card-header py-3" data-toggle="collapse" role="button"
              aria-expanded="true" aria-controls="quepanel6">
              <h5 class="m-0 font-weight-bold text-gray-700">How long is the incubation period for COVID19?</h5>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="quepanel6">
              <div class="card-body">
                The “incubation period” means the time between catching the virus and beginning to have symptoms of the
                disease. Most estimates of the incubation period for COVID-19 range from 1-14 days, most commonly around
                five days. These estimates will be updated as more data become available.
              </div>
            </div>
          </div>

         {% endblock %} 