{% extends "covidlayout.html" %}
{% block body %}
<div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h2 mb-0 text-gray-800">Emergency Contact Information</h2>
              <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
          </div>

          <!-- contact section starts -->

          <!-- Helpline Number :+91-11-23978046 Toll Free : 1075 Helpline Email ID : ncov2019@gov.in -->
          <div class="col-xl-12 mt-4 col-md-12 mb-12">
            <div class="card border-left-danger shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Helpline number</div>
                    <div class="h3 mb-0 mt-3 font-weight-bold text-gray-800">+91-11-23978046</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-12 col-md-12 mb-12 mt-4">
            <div class="card border-left-danger shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Toll-free number</div>
                    <div class="h3 mb-0 mt-3 font-weight-bold text-gray-800">1075</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-12 col-md-12 mb-12 mt-4">
            <div class="card border-left-danger shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Helpline email ID</div>
                    <div class="h3 mb-0 mt-3 font-weight-bold text-gray-800">ncov2019@gov.in</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
         {% endblock %} 