{% extends "covidlayout.html" %}
{% block body %}

<!-- Begin Page Content -->
        <div class="container-fluid">
         
          
          <h1 class="h5 mb-4 mt-0"></h1>
           
                <div  data-aos="fade-in">
                  <h1 class="h4 mt-0 mb-3">What is coronavirus?</h1>
                  <p><span class="typed" data-typed-items="Coronaviruses are a large family of viruses which may cause illness in animals or humans,  In humans several coronaviruses are known to cause respiratory infections ranging from the common cold to more severe diseases such as Middle East Respiratory Syndrome (MERS) and Severe Acute Respiratory Syndrome (SARS), The most recently discovered coronavirus causes coronavirus disease COVID-19,COVID-19 is the infectious disease caused by the most recently discovered coronavirus. This new virus and disease were unknown before the outbreak began in Wuhan China in December 2019"></span></p>
                </div>
     
          <h1 class="h4 mb-2 mt-4 text-gray-800">Worldwide Stats</h1>

          <!-- Content Row -->
          <div class="row">

            <!--WW infected card -->
            <div class="col-xl-4 col-md-4 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Infected</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 wwinf">Just a moment..</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-plus fa-2x text-gray-400"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- WW recovered -->
            <div class="col-xl-4 col-md-4 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Recovered</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 wwrec">Just a moment..</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-smile fa-2x text-gray-400"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- WW death -->
            <div class="col-xl-4 col-md-4 mb-4">
              <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Deaths</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 wwdeath">Just a moment..</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-cross fa-2x text-gray-400"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- india stats -->
          <h1 class="h4 mb-2 text-gray-800">India Stats</h1>

          <!-- Content Row -->
          <div class="row">

            <!--IN infected card -->
            <div class="col-xl-4 col-md-4 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Infected</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 ininf">Just a moment..</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-plus fa-2x text-gray-400"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- IN recovered -->
            <div class="col-xl-4 col-md-4 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Recovered</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 inrec">Just a moment..</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-smile fa-2x text-gray-400"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- IN death -->
            <div class="col-xl-4 col-md-4 mb-4">
              <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Deaths</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 indeath">Just a moment..</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-cross fa-2x text-gray-400"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>





        </div>
        <!-- /.container-fluid -->

     {% endblock %} 