{% extends "mainlayout.html" %}
{% block body %}
<br><br><br><br><br><br>
<center>
<div id="sym_pred">
    <br><br><br><br><br><br><br><br>
    <h1 class="hero-title">You have been diagnosed with Stage {{stage}}</h1>
    <p>Heart disease can be classified into 4 stages(stage 1 to 4) based on severity of artery blockage. Artery blockage>50% indicates presence of heart disease. Higher the blockage, higher is the stage of heart disease. Stage 3 and 4 are called chronic heart disease and risk of heart attack at anyday in such patients in very high.</p>
    <p style="color: red;">The algorithm has diagnosed you with good accuracy based on your inputs. However it might be better to talk to a doctor regardless.</p>
    <br><br><br><br><br><br>   
</div>
</center>

 {% endblock %}