{% extends "mainlayout.html" %}
{% block body %}

      <div class="container">
        <div class="row">
          <div class="banner-info">
            <div class="banner-logo text-center">
              <a class="btn btn-primary" href={{ url_for('appointment') }}>Appointments Management</a>
              <a class="btn btn-primary" href="{{ url_for('medicinestatus') }}">Medication Management</a>
              <br><br>
              <center><img src="{{ url_for('static',filename = 'main/img/bannnerRobot.png')}}" class="img-responsive" width="25%" height="25%"></center>
              <br>
              <a class="btn btn-primary" href="{{ url_for('billing') }}">Bills Management</a>
            </div>
            <div class="banner-text text-center">
              <h1 class="white">Healthcare at your Fingertip!!</h1>
            </div>
            
          </div>
        </div>
      </div>
   
  <!--/ contact-->
  <!--footer-->
  {% endblock %}
