{% extends "mainlayout.html" %}
{% block body %}

      <div class="container">
        <div class="row">
          <div class="banner-info">
            <div class="banner-logo text-center">
              <a href={{ url_for('liverDiseasePredictionBefore')}} class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Liver-diesease-prediction-based-on-alcohol-habit Model 1 </a>
            </div>
            <br><br>
            <br><br>
          </div>
        </div>
      </div>
   
  <!--/ contact-->
  <!--footer-->
  {% endblock %}
